.container {
  display: flex;
}

.img {
  max-width: 300px;
  margin-right: 30px;
}

.movie__info {
  display: block;
  padding-bottom: 30px;
}

.container__info {
  padding-top: 50px;
}

.movie__info__title {
  margin-bottom: 20px;
}
